<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Cfh028hAP/ynO2HjgmYcHnof5ujAy/iAIPv2xw+FLswfmEz5GWz5pPLZ11xmk9GKxEmV
	IrrODn1Z9obFzVqye5rUsZZApVwAofqyJqPodThCEJiTdwXlChBaESjcdZ8HB4GzqdIg
	i8XHEDCAdNVZJ0eO3wopnp1RS+tWf1XB77U=
	</data>
</dict>
</plist>
